[Unit]
Description=Regatta

[Service]
ExecStart=regatta_exec.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=regatta

[Install]
WantedBy=default.target
